{% load static %}
<!DOCTYPE html>
<html>
<head>  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static "frontend/css/app.css" %}"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  
  <title>Django DRF React Irrepeti</title>
</head>
<body>
  <p><a href={% url 'login' %}>Login</a></p>        
  <p><a href={% url 'logout' %}>Logout</a></p> 
  <section class="section">
    {% if user.is_authenticated %}
      <div class="container">
        <div id="app"><!-- React --></div>
      </div>
    {% else %}
      Please login to see this page.
    {% endif %}
  </section>
</body>

<script src="{% static "frontend/main.js" %}"></script>
</html>